@font-face {
  font-family: 'DM Serif Display';
  src: url('../assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
